{% extends 'header.html.twig' %}

{% block title %}Liste des consultants{% endblock %}

{% block body %}
{{ include('navbar.html.twig') }}
<div class="container">
    <h1 class="text-center mt-5">Mon espace consultant</h1>

    <section>
        <h3>Gérer les recruteurs</h3>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for recruiter in recruiters %}
                <tr>
                    <td>{{ recruiter.username }}</td>
                    <td>
                        <a href="{{ path('app_dashboard_consultant_approuve_recruiter', {'id': recruiter.id}) }}">Approuver</a>
                        <a href="{{ path('app_dashboard_consultant_reject_recruiter', {'id': recruiter.id}) }}">Rejeter</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="text-center">Aucun recruteur</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h3>Gérer les candidats</h3>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for candidate in candidates %}
                <tr>
                    <td>{{ candidate.username }}</td>
                    <td>
                        <a href="{{ path('app_dashboard_consultant_approuve_candidate', {'id': candidate.id}) }}">Approuver</a>
                        <a href="{{ path('app_dashboard_consultant_reject_candidate', {'id': candidate.id}) }}">Rejeter</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="text-center">Aucun candidat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h3>Gérer les annonces</h3>
    </section>
    <section>
        <h3>Gérer les candidatures</h3>
    </section>
   
</div>
{% endblock %}