{% extends 'header.html.twig' %}

{% block title %}S'enregister{% endblock %}

{% block body %}
    {{ include('navbar.html.twig') }}
    {{ form_start(registrationForm) }}
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <h1 class="mt-5 mb-5 text-center">Créer un compte</h1>
                <div>
                Vous êtes ?
                {{ form_row(registrationForm.role, {
                    label:' '
                }) }}
                </div>
                {{ form_row(registrationForm.lastname, {
                    label:'Prénom'
                }) }}
                {{ form_row(registrationForm.firstname, {
                    label:'Nom'
                }) }}
                {{ form_row(registrationForm.username, {
                    label: 'Utilisateur'
                }) }}
                {{ form_row(registrationForm.email, {
                    label: 'Adresse mail'
                }) }}
                {{ form_row(registrationForm.password, {
                    label: 'Mot de passe'
                }) }}
                <button type="submit" class="btn btn-primary mt-2">S'enregistrer</button>
                {{ form_end(registrationForm) }}
                <p class="mt-5 text-center">Revenir sur l'écran de <a href="{{ path('app_login') }}">login</a><p>
            </div>
        </div>
    </div>
{% endblock %}
