{% extends 'header.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
{{ include('navbar.html.twig') }}

<div class="container">
    <h1 class="text-center mt-5">Tableau de bord candidat</h1>
</div>
<div class="m-5">
    <h3>Mes informations</h3>
    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ candidate.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ candidate.firstname }}</td>
            </tr>
            <tr>
                <th>Adresse mail</th>
                <td>{{ candidate.email }}</td>
            </tr>
            <tr>
                <th>Nom d'utilisateur</th>
                <td>{{ candidate.username }}</td>
            </tr>
            <tr>
                <th>CV</th>
                <td>{{ candidate.cv }}</td>
                <td><a href="{{ asset('uploads/cv/' ~ candidate.cv) }}">Voir le CV (PDF)</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="ms-5">
    <a href="{{ path('app_dashboard_candidate_edit', {'id': candidate.id}) }}" class="btn btn-outline-primary mb-2">Modifier</a>
</div>
<div class="m-5">
    <h3>Liste des annonces disponibles</h3>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Intitulé</th>
                <th>Lieu</th>
                <th>Horaires</th>
                <th>Salaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in joboffers %}
            <tr>
                <td>{{ offer.title }}</td>
                <td>{{ offer.workplace }}</td>
                <td>{{ offer.schedules }}</td>
                <td>{{ offer.salary }}</td>
                <td>
                    {#<a href="{{ path('app_dashboard_consultant_approuve_candidate', {'id': candidate.id}) }}">Approuver</a>
                    <a href="{{ path('app_dashboard_consultant_reject_candidate', {'id': candidate.id}) }}">Rejeter</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Aucune annonce</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}